* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: linear-gradient(to bottom, rgb(18, 26, 17),  rgb(92, 117, 87),  rgb(18, 26, 17));
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

header {
    width: 100%;
    height: 100px;
    background-color: #000000;

}

header h1 {
    font-weight: 1000;
    margin-left: 100px;
    padding-top: 20px;
    color: rgb(0, 255, 21);
}

h1,
.div {
    font-size: 30px;
    font-weight: 100;
}

.div {
    color: #ffffff;
    margin-left: 200px;

}

.login {
    font-size: 50px;
    color: rgb(26, 251, 6);
    text-align: center;
    padding: 30px 0 20px 0;
    font-weight: bold;
}

section {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0e240e;
    width: calc(100% - 30px);
    border-radius: 30px;
    margin: 10px 0;
}


input {
    margin: 25px 10px;
    display: block;
    height: 50px;
    border-radius: 10px;
    background-color: #929292;
    border: none;
    animation: none;
    padding-left: 10px;
    box-shadow: 2px 3px rgb(0, 0, 0);
}

#segundo-inpunt {
    margin-bottom: 0;
}

.recupera {
    font-size: 11px;
    color: rgb(243, 243, 243);
    display: flex;
    justify-content: end;
    padding: 5px 10px 0 0; 
}
a{
    color: rgb(3, 77, 236);
    text-decoration: none;
}

.botoes{
   display: inline-block;
   text-align: center;
}

.botao-logi {
    width: 150px;
    height: 50px;
    margin: 30px auto;
    color: #1eff00;
    background-color: black;
    border: none;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 100;
    transition: 0.5s;
    transition: transforma 1s;
    box-shadow: 2px 3px rgb(0, 0, 0);
}

button:hover {
    transform: scale(1.2);
    background-color: rgb(43, 255, 0);
    color: black;
}

footer {
    background-color: #000000;
    bottom: 0%;
    height: 100px;
    width: 100%;
}

.copy {
    color: white;
    text-align: center;
    margin-top: 40px;
}